<!DOCTYPE html>
<html>
    <head>
        <%- include('partials/head.ejs'); %>
    </head>
    <body>
        <div class="container">
            <%- include('partials/leftcolumn.ejs'); %>
            <div class="right-column">
                <%- include('partials/header.ejs'); %>
                <form class="row g-3" method="POST">
                    <h2>New Customer</h2>
                    <div class="col-md-6">
                        <label for="firstName" class="form-label">First Name</label>
                        <input type="text" class="form-control" id="firstName"> 
                    </div>
                    <div class="col-md-6">
                        <label for="lastName" class="form-label">Last Name</label>
                        <input type="text" class="form-control" id="lastName">
                    </div>
                    <div class="col-md-6">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" id="email">
                    </div>
                    <div class="col-md-6">
                        <label for="license_num" class="form-label">License Number</label>
                        <input type="text" class="form-control" id="license_num">
                    </div>
                    <div class="col-md-6">
                        <label for="address" class="form-label">Address</label>
                        <input type="text" class="form-control" id="address">
                    </div>
                    <div class="col-md-6">
                        <label for="city" class="form-label">City</label>
                        <input type="text" class="form-control" id="city">
                    </div>
                    <div class="col-md-6">
                        <label for="state" class="form-label">State</label>
                        <select id="state" class="form-select">
                            <option selected></option>
                          <% states.forEach(function(state){ %>
                            <option value=<%= state[0] %>><%= state[1] %></option>
                          <% }); %>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label for="zip" class="form-label">Zip</label>
                        <input type="text" class="form-control" id="zip">
                    </div>
                    <h3>Car Details</h3>
                    <div class="col-md-6">
                        <label for="service" class="form-label">Service</label>
                        <select id="service" class="form-select">
                            <option selected></option>
                          <% services.forEach(function(service){ %>
                            <option value=<%= service[0] %>><%= service[1] %></option>
                          <% }); %>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label for="make" class="form-label">Make</label>
                        <select id="make" class="form-select">
                            <option selected></option>
                          <% makes.forEach(function(make){ %>
                            <option value=<%= make[0] %>><%= make[1] %></option>
                          <% }); %>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label for="model" class="form-label">Model</label>
                        <select id="model" class="form-select">
                          <option selected></option>
                          <option>...</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
                <footer>
                    <%- include('partials/footer.ejs'); %>
                </footer>
            </div>
        </div>
    </body>
</html>