<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/head.ejs'); %>
    <title>Create Customer Form</title>
    <link rel = "icon" href = 
"https://cdn.icon-icons.com/icons2/2645/PNG/512/person_plus_icon_159924.png" 
        type = "image/x-icon">
    <style>
      form {
        margin-top: 100%;
      }
      span.required {
  color: red;
  margin-left: 5px;
}
    </style>
  </head>
  <body id="main">
    <div class="container">
        <%- include('partials/navbar.ejs'); %>
      <div class="right-column">
        <%- include('partials/header.ejs'); %>
        <div class="bottomrow">
        <form class="row g-3" method="POST" action="http://localhost:3000/customervehicle">
          <h2>Create Customer Form</h2><p><span class="required">*</span> Indicates field is required</p>
          <div class="col-md-2">
            <!-- the name attribute is used to create a request so please use it-->
            <label for="inputFirstName" class="form-label">First Name<span class="required">*</span></label>
            <input type="text" class="form-control" id="firstName" name="first_name" required>
          </div>
          <div class="col-md-1">
            <label for="inputMI" class="form-label">Middle Initial</label>
            <input type="text" min="0" max="1"class="form-control" id="MI" name="middle_in">
          </div>
          <div class="col-md-2">
            <label for="inputLastName" class="form-label">Last Name<span class="required">*</span></label>
            <input type="text" class="form-control" id="lastName" name="last_name" required>
          </div>
          <div class="col-md-2">
            <label for="tel" class="form-label">Phone Number<span class="required">*</span></label>
            <input type="tel" class="form-control" id="inputPhone" name="phone" placeholder="1234567890" minlength="10" maxlength="10" required>
          </div>
          <div class="col-md-4">
            <label for="email" class="form-label">Email<span class="required">*</span></label>
            <input type="email" class="form-control" id="inputEmail"  name="email" required>
          </div>
          <div class="col-4">
            <label for="address" class="form-label">Address<span class="required">*</span></label>
            <input type="text" class="form-control" id="inputAddress" name="address" placeholder="1234 Main St"required>
          </div>

          <div class="col-md-2">
            <label for="city" class="form-label">City<span class="required">*</span></label>
            <input type="text" class="form-control" id="inputCity" name="city" required>
          </div>
          <div class="col-md-2">
            <label for="state" class="form-label">State<span class="required">*</span></label>
            <select id="state" class="form-select" name="state_id" required>
              <option selected></option>
              <!--The value of the option is what is part of the request-->
              <% states.forEach(function(state){ %>
                <option value=<%= state[0] %>><%= state[2] %></option>
              <% }); %>
            </select>
          </div>
          <div class="col-md-1">
            <label for="zip" class="form-label">Zip<span class="required">*</span></label>
            <input type="text" class="form-control" id="inputZip" name="zip">
          </div>
          <h3>Car Details</h3>
          <div class="col-md-2">
            <label for="color" class="form-label">Color<span class="required">*</span></label>
            <select id="color" class="form-select" name="color_id" required>
              <option selected></option>
              <% color.forEach(function(color){ %>
                <option value=<%= color[0] %>><%= color[1] %></option>
              <% }); %>
            </select>
          </div>
          <div class="col-md-1">
            <label for="city" class="form-label">Year<span class="required">*</span></label>
            <input type="number" min="1900" max="2099" step="1" value="2016" class="form-control" name="year" required />
          </div>
          <div class="col-md-2">
            <label for="vinnumber" class="form-label">Vin Number<span class="required">*</span></label>
            <input type="text" class="form-control" id="vinnumber"  maxlength="17" name="vin" required>
          </div>
          <div class="col-md-2">
            <label for="licenseplate" class="form-label">License Plate Number<span class="required">*</span></label>
            <input type="text" class="form-control" id="inputLicensePlate"  maxlength="7" name="license_plate" required>
          </div>
          <div class="col-md-2">
            <label for="make" class="form-label">Make<span class="required">*</span></label>
            <select id="make" class="form-select" onchange="myFunction()" required>
              <option selected></option>
              <% makes.forEach(function(make){ %>
                <option value=<%= make[0] %>><%= make[1] %></option>
              <% }); %>
            </select>
          </div>
          <div class="col-md-2">
            <label for="model" class="form-label">Model<span class="required">*</span></label>
            <select id="model" class="form-select" name="model_id" required>
              <option selected></option>
              <% models.forEach(function(model){ %>
                <option data-make_id =<%=model[1]%> value=<%= model[0] %>><%= model[2] %></option>
              <% }); %>
            </select>
            <br>
            <script>
              function myFunction(){
                  let makeValue = document.getElementById("make").value;
                  let x=document.getElementById("model").options;
                  for (let i=0; i<x.length; i++){
                      x[i].removeAttribute("hidden");
                  }
                  for (let i=0; i<x.length; i++){
                      if (makeValue == x[i].dataset.make_id){
                          console.log(makeValue);
                          console.log(x[i]);
                      }else{
                          x[i].setAttribute("hidden", "hidden");
                      }
                  }
              };
          </script>
          <div class="col-12">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div>
    </div>
    </div>        
  </body>
</html>
